body {
	background-color: #FFFFE0;
	font-family: 'Brush Script MT', cursive;
}

.caixa {
	display: flex;
	justify-content: center;
	align-items: center;
}

#caixa-recomendacao {
	background-color: #AFEEEE;
	border-style: outset;
	border-radius: 5px;
	border-color: #4682B4;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

#foto {
	width: 20%;
	border-radius: 100%;
}

#seta-direita {
	cursor: pointer;
	width: 5%;
}

#depoimento {
	background-color: #FFFFF0;
	border-radius: 5px;
	padding: 20px;
	color: #2F4F4F;
	font-style: italic;
}

#depoimento:before {
	content: '"';
}

#depoimento:after {
	content: '"';
}

@media screen and (min-width: 280px) and (max-width: 456px) {
	#foto {
		width: 40%;
	}

	#seta-direita {
		width: 15%;
	}
}

@media screen and (min-width: 457px) and (max-width: 1280px) {
	#foto {
		width: 24%;
	}

	#seta-direita {
		width: 9%;
	}
}