body {
	background-color: #FFFFE0;
}

.caixa {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

#caixa-recomendacao {
	background-color: #AFEEEE;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

#foto {
	width: 20%;
	border-radius: 100%;
}

#seta-direita {
	width: 5%;
}

#depoimento {
	background-color: #FFFFF0;
	padding: 20px;
}